h2{ 
    color: rgb(118, 34, 139);

}
body{

    background-color:blue;
    color:white;
    font-family: Roboto;
    text-align: center;
}
header {

    border-bottom: 1px solid white;
}

footer{
border-top: 1px solid white;

}